---
layout: default
title: 枳的博客
---
<div id="blog-list-wrapper">
    <aside id="banner" class="banner-wrapper">

        <h1 class="vertical-title">枳的博客</h1> 
        <div id="tags">
            <ul class="tags-list">
            {% for tag in site.tags %}
            <li class="tag-li">
            <a href="{{ site.baseurl }}/tag/index.html#{{ tag | first}}">{{ tag | first }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    </aside><!--banner end-->
    <section id="blog-list">
    
        <ul>
        {% for post in paginator.posts %}
        <li>
        <h2 class="blog-title"> <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
            <p class="blog-date"> {{ post.date | date_to_string }}</p>
            <p> {{ post.excerpt }}
        </li>
        {% endfor %}
        </ul>

        {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/'  }}">&laquo; Prev</a>
            {% else %}
            <span>&laquo; Prev</span>
            {% endif %}
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <em>{{ page  }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/'  }}">{{ page  }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page  }}">{{ page  }}</a>
                    {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/'  }}">Next &raquo;</a>
            {% else %}
                <span>Next &raquo;</span>
            {% endif %}
            </div>
            {% endif %}


        </section> <!--blog-list end -->
</div><!--bloglist-wrapper ends-->
<div class="exchange">
    <div class="friends">
        <h2 class="my-friends">我的朋友们</h3>
        <ul class="friends-list">
            <li><a href="http://zdx.link/">zdx</a></li>
            <li><a href="http://momeakl.github.io/">高冰</a></li>
            <li><a href="http://27979831.github.io/">李超源</a></li>
        </ul>
        <p>如果你想和我交换友链可以在下面留言或者给我发<a class="inline-link" href="mailto:fiona_fanmy@163.com" title="fiona_fanmy@163.com">邮件</a>
    </div>
{% include comment.html %}
</div>
