
body{
	padding:0;
	margin:0;
	font-size:14px;
	font-family:华文细黑,'AvenirNextLTW01-Regular',微软雅黑;
	font-weight:lighter;	
	color:#464646;
	background:url("/public/img/bg.png");
}

body,html{
	height:100%;
}

.container{
	width:980px;
	margin: 0 auto;
}

a:link, a:visited, a:hover{
	text-decoration:none;
}

a:link, a:visited{
	color:#464646;
}

a:hover{
	color:#bb2222;
}

i:hover{
	color:#bb2222;
}

hr{
	width:80%;	
	border:1px solid #f0f0f0;
	margin:0 auto;


}

ul{
	list-style:none;
	padding:0;
	margin:0;
}
/*index*/
#index-head{
	position:relative;
	height:280px;
	
}

	#index-head img{
		position:absolute;
	}

	#index-head #describe{
		position:absolute;
		width:150px;
	 	padding-top:40px;	
	}

#index-content{
	position:relative;
	margin-top:50px;

}

.index-img{
	position:absolute;
	z-index:-5;
}

.blog-block{
	width:450px;
	padding:50px 0 0 20px;
	position:absolute;
	z-index:1;
}

	.blog-block p{
		line-height:27px;
	}
#index-content{
	height:1200px;

}

#index-head ul {
	position:absolute;
	bottom:0;
}

  #index-head ul li{
	float:left;
	padding-right:40px;
}
/*index end*/

/*post*/

.post{

/*	background:url("/blog/public/img/bg.png");
	border: 1px solid #efefef;*/
}

	.post h2{
			font-size: 14px;
			font-weight: normal;
			border-radius:3px;
}

	.post img{
	 		max-width:940px;
			padding: 20px;
}
	
#divider{
	position:relative;
	z-index:1;
	overflow:hidden;
	text-align:center;
}

#divider:before{
	 margin-left: -50%;
	 text-align: right;
}

#divider:after{
	  margin-left: 1%;
}

#divider:before, #divider:after{
	position: absolute;
	top: 51%;
	overflow: hidden;
	width: 49%;
	height: 2px;
	content: '\a0';
	background-color: #f0f0f0;
}

#divider i{
	margin:5%;
}

/*post end*/

/*footer*/
#footer{
	text-align: center;
	font-size: 12px;
}

/*footer end*/



/*blog-list*/
#blog-list{
    min-height:80%;
}

#blog-list ul li{
    opacity: 0;
  line-height: 2;
position:relative;  
border-left: 3px solid #f0f0f0;
padding:50px 0 0 50px;
 /* transition: opacity 2s;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;*/
}
#blog-list ul li a{
  position:relative;
  border-bottom: none;
  vertical-align: top;
}

#blog-list ul li::before{
	content:"\f111";
	font-family: FontAwesome;
	font-size: 8px;
	color: #cdcdcd;
	position:absolute;
	left: -5px;
	top:55px;
}

#blog-list ul li a::before{
  content: "";
 width: 100%;
  height: 1px;
display:inline-block;
position:absolute;
bottom:0;
left:0;
background-color:#bb2222;
  transition-duration: 0.2s;
transform: scaleX(0);
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
visibility: hidden;

}


#blog-list ul li a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

#blog-list #year{
	opacity:1;
	font-size:36px;
	padding-bottom:50px;
	padding-top:0;
	
}

#blog-list #year::before{
	top:30px;
}
